
.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.link-container{
display: flex;
gap: 20px;
}

.hire-me-btn{
    background-color: orange;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    font-weight: 800;
}
ul{
    list-style: none;
}
 a {
    text-decoration: none;
}

.gyana{
      color: rgb(11, 226, 226);
      font-size: 30px;
}

.dewan{
      color: rgb(182, 127, 104);
      font-size: 30px;
}
.hero-contain{
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-contain > div {
    flex: 1;
}
 .hero-contain h1{
    font-size: 32px;
    font-weight: bold;
 }
.hero-img {

    max-width: 400px;
    display: block;
    margin-left: auto;
}
.bg-hero {
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-size: 600px;
    height: 600px;
    background-position: right;
    padding-top: 4px;
}

.hero-btns{
    display: flex;
    gap: 8px;
}
.hero-download-btn {
    display: flex;
    align-items: center;
    background-color: #FD6E0A;
    padding: 10px 20px;
     gap: 8px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.hero-download-btn span {
     font-size: 24px;
}


.hero-contact {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border-color: #FD6E0A;
  color: #FD6E0A;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.bg-nav-main,.bg-hero{
   background-color: #FFF8F3;
}


.about-me-section{
    background-color: #FFF8F3;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px ;
    margin-bottom: 60px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

.about-me-details {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
}

.detail-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label {
    color: #757575;
    font-size: 16px;
}

.value {
    color: #181818;
    font-size: 18px;
    font-weight: 600;
}


.what-I-do-section{
    max-width: 600px;
    margin: 0 auto;
}

.what-I-do-section h2 {
    text-align: center;
    font-size: 30px;
}


.skills-section{
    max-width: 1000px;
    margin: 30px auto 0;
   
}
.card-item {
    box-shadow: 10px 10px 10px 10px rgba(246, 213, 213, 0.822);
    width: 200px;
    border-radius: 8px;
    padding: 20px 20px;
}

.card-item img {
    width: 30px;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


 .edu-expri-section{
    max-width: 1000px;
    margin: 30px auto 0;
 }
 .edu-expri-section h2{
        text-align: center;
 }
.edu-expr-main-contain {
    display: flex;
    gap: 50px;
}

.edu-left-side{
    width: 30%;
}
.ex-right-side{
    width:30%;
}

.edu-card {
    box-shadow: 10px 10px 10px 10px  #FFF8F3;
    padding: 5px 6px;
    border-bottom: 1px solid rgb(137, 137, 137);
   
}

.btn-second{
    display: flex;
    justify-content: center;
}
.second-cv-btn{
    display: flex;
    align-items: center;
    background-color: orange;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    font-weight: 800;
    margin-top: 20px;
    border: none;
    
}
.footer{
    background: #FFF8F3;
    padding: 80px 20px;
}

.footer-contain{
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.footer-left,
.footer-right{
    flex: 1;
}

.footer-left h2,
.footer-right h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: #181818;
}

.footer-left p{
    color: #757575;
    line-height: 28px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.footer-right input,
.footer-right textarea{
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    background: #fff;
}

.footer-right textarea{
    height: 150px;
    resize: none;
}

.footer-right button{
    width: 160px;
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: #FD6E0A;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.footer-right button:hover{
    background: #e85d04;
}